



body{
 background-color: #f1f1f1 ;
 font-size: 17px;
 font-weight: normal;

 font-family: "Roboto", sans-serif;
}

a {
  color: rgb(6, 6, 228);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: rgb(204, 10, 10);
}

a:visited{
  color: rgb(5, 18, 206);
}
.avap {
  width: 280px;
  height: 300px;
  border-radius: 45px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.maxi {
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .maxi {
    text-align: center;
    display: block;
  }
}


.maxi-text {
  margin-left: 30px;
}

.maxi h4 {
  margin-bottom: 16px;
}

.maxi p {
   color: rgb(1, 2, 1);
  margin: 0;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  
}
 /* Box Model */
.Glava {
  background: rgb(232, 241, 190);
  max-width: 600px;
  margin: auto;
  padding-top: 15px;
  border: 5px, solid, rgb(81, 81, 160);
  border-radius: 10px;
  
  
  
  
}



.bg-green{
background: rgb(232, 241, 190);
}

.bg-blye{

background: rgb(0, 0, 0);
}
.bg-orange{
background: rgb(12, 11, 9);

}

.Carta {
  padding: 12px 16px ;
  margin-bottom: 18px;
  border-radius: 30px; 
}

.Carta h2{
  margin-bottom: 13px;
}

.Lisa {
  padding: 0 20px;
}

.Lisa li {
color: rgb(7, 5, 4);
margin-bottom: 10px;
}

.table {
  width: 100%;
}

.table td {
padding-bottom: 12px;
}

.table td:nth-child(1), 
.table td:nth-child(2),
.table td:nth-child(3) {
  color: rgb(53, 25, 131);
}



.List-You {
  list-style: none;
  padding: 0;
}

.List-You li {
  margin-bottom: 10px;
  padding-bottom: 2px;
  border-bottom: 2px solid gray;
}

.Contract h2 {
  text-align: center;
}

.Hana label {
  display: block;
  font-size: 16px;
  color: rgb(51, 41, 157);
}

.Hana input,
.Hana textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(106, 111, 112);
  color: rgb(7, 5, 7);
  padding: 12px 0 7px ;
  outline: none;
  font-family: inherit ;
}

.Rip {
  display: flex;
  margin-bottom:18px ;
}

.Rip > .Hana {
  width: 50%;
  margin-right: 30px;
}

.sai {
  background: #111;
  padding:12px 18px ;
  color: beige;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.sai:hover {
  opacity: 0.8;
}

.maxi-text:hover > a {
  opacity: 0.8;
}





